    @tailwind base;
    @tailwind components;
    @tailwind utilities;


    @layer base {
        .background-image {
            background-image: url('./assets/svg/bg.svg');
            background-repeat: no-repeat;
            background-color: bisque;
            @apply rounded-lg md:mx-14 mx-4 mt-0
        }
    }